{% extends 'base.html' %}

{% block title %}
{{ news.title }}
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        {% if news.image %}
            <img src="{{ news.image.url }}"
                 class="card-img-top"
                 style="max-height:500px; object-fit:cover;">
        {% endif %}

        <div class="card-body">

            <span class="badge bg-primary">
                {{ news.category }}
            </span>

            <h1 class="mt-3">
                {{ news.title }}
            </h1>

           <p class="text-muted">
    📅 {{ news.created_at }}
</p>

<p class="text-muted">
    👁 {{ news.views_count }} ta ko‘rildi
</p>

            <hr>

            <p style="font-size:18px; line-height:1.8;">
                {{ news.content }}
            </p>

            <a href="/" class="btn btn-secondary mt-3">
                ← Barcha yangiliklarga qaytish
            </a>
<hr>

<h3 class="mt-5">💬 Izohlar</h3>

<form method="post" class="mb-4">
    {% csrf_token %}

    <input
        type="text"
        name="name"
        class="form-control mb-3"
        placeholder="Ismingiz"
        required
    >

    <textarea
        name="text"
        class="form-control mb-3"
        rows="4"
        placeholder="Izohingiz"
        required
    ></textarea>

    <button type="submit" class="btn btn-primary">
        Izoh qoldirish
    </button>
</form>

{% for comment in comments %}
    <div class="card mb-3">
        <div class="card-body">
            <h6>{{ comment.name }}</h6>
            <small class="text-muted">
                {{ comment.created_at }}
            </small>

            <p class="mt-2">
                {{ comment.text }}
            </p>
        </div>
    </div>
{% empty %}
    <p>Hozircha izohlar yo'q.</p>
{% endfor %}
            
        </div>

    </div>

</div>

<hr>

<h3 class="mt-5 mb-4">
    📌 O'xshash yangiliklar
</h3>

<div class="row">
    {% for item in related_news %}
        <div class="col-md-6 mb-4">
            <div class="card h-100 shadow">

                {% if item.image %}
                    <img src="{{ item.image.url }}"
                         class="card-img-top"
                         style="height:200px; object-fit:cover;">
                {% endif %}

                <div class="card-body">

                    <span class="badge bg-primary">
                        {{ item.category }}
                    </span>

                    <h5 class="mt-3">
                        {{ item.title }}
                    </h5>

                    <a href="{% url 'news_detail' item.id %}"
                       class="btn btn-outline-primary">
                        Batafsil o'qish
                    </a>

                </div>
            </div>
        </div>
    {% empty %}
        <p>O'xshash yangiliklar mavjud emas.</p>
    {% endfor %}
</div>
{% endblock %}